<div id="box">
<div class="block" id="block-signup">
        <h2>Sign up</h2>

         <%= devise_error_messages! %>

        <div class="content">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

            <div class="group wat-cf">
              <div class="left">
                <label class="label"><%= f.label :email %></label>
              </div>
              <div class="right">
                <%= f.email_field :email %>
                <span class="description">Ex: test@example.com</span>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label"><%= f.label :password %></label>
              </div>
              <div class="right">
                <%= f.password_field :password %>
                <span class="description">Min 4 chars</span>
              </div>
            </div>
            <div class="group wat-cf">
              <div class="left">
                <label class="label"><%= f.label :password_confirmation %></label>
              </div>
              <div class="right">
               <%= f.password_field :password_confirmation %>
                <span class="description">Must compare with password</span>
              </div>
            </div>


            <div class="group navform wat-cf">
              <button class="button" type="submit">
                <img src="/images/web-app-theme/icons/tick.png" alt="Save" /> Signup
              </button>
            </div>
          <% end %>
          <br>
          <%= render :partial => "devise/shared/links" %>
        </div>

      </div>

    </div>