#regFormMainBlock.modalBlock
  .modalOverlay
  .modalWindow.ui-draggable
    .modalMessage
      .modalMessageHead
        New user
        %a{:href => root_path}
          #modalCloseCross.modalClose
    #orRegister
      %p
        %span= link_to "Sign in", new_user_session_path
        or
        %span Create
        an account
    #horizontalLine
    = devise_error_messages!
    #regForm
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        #inputInfo
          %label Email:
          %span#er_email.errors
          %br
          = f.email_field :email, :size => 25
          %label#lb_password Password:
          %span#er_password.errors
          %br
          = f.password_field :password, :size => 25
          %br
          %label#conf_password Password confirm:
          = f.password_field :password_confirmation, :size => 25
        %button.large.large_w.awesome.yellow{:type => "submit"} Create account
