
= stylesheet_link_tag  "editor_common.css", "gui.css"
/ Libraries
= javascript_include_tag "/libs/jquery.js", "/libs/jquery.ui.js", "/libs/jquery.router.js", "/libs/jquery.shortcuts.js", "/libs/raphael.js  "
/ Engine
= javascript_include_tag "icore/tools/brush", "icore/tools/eraser", "icore/tools/resize", "icore/tools/rotate", "icore/icore_mouse.js", "icore/icore_canvas", "icore/icore_tool", "icore/icore_file", "icore/icore_history", "icore/icore_helper", "icore/icore"
/ GUI
= javascript_include_tag "gui/controls/window", "gui/controls/button", "gui/controls/trackbar", "gui/controls/textbox", "gui/controls/colorpicker_a" , "gui/toolbar/button_brush", "gui/toolbar/button_eraser", "gui/transformation/button_resize", "gui/transformation/button_rotate", "gui/colorpicker/colorpicker"
= javascript_include_tag  "gui/file/button_save", "gui/file/button_save_new", "gui/history/button_undo", "gui/panel/panel_brush", "gui/panel/panel_eraser", "gui/panel/panel_resize", "gui/panel/panel_rotate"
= javascript_include_tag  "gui/gui_canvas", "gui/gui_toolbar", "gui/gui_transformation", "gui/gui_colorpicker", "gui/gui_file", "gui/gui_history", "gui/gui_panel", "gui/gui"
/ Router
= javascript_include_tag  "router"

/ Toolbars left
%section#toolbar.img_editor{:style => "position: absolute; margin-top: 20px; margin-left: 20px"}
%section#file.img_editor{:style => "position: absolute; margin-top: 80px; margin-left: 20px"}
%section#history.img_editor{:style => "position: absolute; margin-top: 140px; margin-left: 20px"}
%section#transformation.img_editor{:style => "position: absolute; margin-top: 200px; margin-left: 20px"}

/ Toolbars right
%section#colorpicker.img_editor{:style => "position: absolute; margin-top: 20px; margin-left: 960px"}
%section#panel.img_editor{:style => "position: absolute; margin-top: 290px; margin-left: 960px"}

/ Canvas
%section.img_editor{:style => "position: absolute; margin-top: 20px; margin-left: 140px"}
  %canvas#canvas{:height => "600", :width => "800"}

/ Constructor
:javascript
      var Config = {
        'CANVAS': 'canvas',
        'TOOLBAR': 'toolbar',
        'TRANSFORMATION': 'transformation',
        'COLORPICKER': 'colorpicker',
        'FILE': 'file',
        'HISTORY': 'history',
        'PANEL': 'panel'
      }
      window.onload = function() {
        new ICore();
        new GUI();
        new Router();
                ICore.openImage("#{@edit_photo.photo.url(:large)}");
  }

#photo_id{:style => "display:none"}=@edit_photo.id
#user_id{:style => "display:none"}=@edit_photo.user.id

%section.save_msg{:style => "position: absolute; margin-top: 700px; margin-left: 140px; background:transparent;"}


