= form_for @user, :url => user_path, :html => { :class => :form, :multipart => true  } do |f|
  .group
    = f.label :avatar, 'Avatar', :class => :label
    .avatar
      = image_tag current_user.avatar.url(:medium)
    %br
    = f.file_field :avatar
  .group
    = f.label :email, 'Email', :class => :label
    = f.text_field :email
    %span.description Ex: a simple text
  .group
    = f.label :name, 'Name', :class => :label
    = f.text_field :name
    %span.description Ex: a simple text
  .hr
  .group
    %h4 Photos
    %br
    = edit_photo f
  %button.large.large_w.awesome.green{:type => "submit"} Save

