= render(:template => 'layouts/application')
= render(:partial => 'layouts/logo_intro')
.wrapper
  %section.content
    .flash
    %article{:class => "article_top_photos", :id => "take_a_tour"}
      %header.title
        %h2
          %span
            User guide
        %br
        %br
      .article_content
        %div
          %div{:class => "behind", :id => "f_behind"}
            %div{:class => "tat_issue", :id => "first_step"}
              %p
                1.You are welcomed!
          .tat_step
            %p
              It's
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                = link_to "ImHo", root_path
              free
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                image hosting
              with 
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                editing
            %br
          %div{:class => "behind", :id => "f_behind"}
            %div{:class => "tat_issue", :id => "first_step"}
              %p
                2.It's very easy to start!
          .tat_step
            %p
              Just click 
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                = link_to "Sign up", new_user_registration_path
              and create your own
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                profile
            %br
          %div{:class => "behind", :id => "f_behind"}
            %div{:class => "tat_issue", :id => "first_step"}
              %p
                3.Open your profile
          .tat_step
            %p
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                = link_to "Sign in", new_user_session_path
              and click
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                My page
              to see your profile
            %br
          %div{:class => "behind", :id => "f_behind"}
            %div{:class => "tat_issue", :id => "first_step"}
              %p
                4.Upload photos
          .tat_step
            %p
              Click 
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                Upload photo
              and upload one or more photos. All your photos will be seen by whole world
            %br
          %div{:class => "behind", :id => "f_behind"}
            %div{:class => "tat_issue", :id => "first_step"}
              %p
                5.Manage you data
          .tat_step
            %p
              On your own page You can manage your Photos, Name and Avatar. Click 
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                Save
              and settings will be accepted
            %br
          %div{:class => "behind", :id => "f_behind"}
            %div{:class => "tat_issue", :id => "first_step"}
              %p
                6.Edit your photos
          .tat_step
            %p
              Click
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                edit
              on the photo you want to change and it will be opened in our
              %span{:class => "tat_titles", :id => "tat_imho_title"}
                editor 
              You can edit and download it
            %br
  %section.sidebar
    / Article block comments
    = render(:partial => 'layouts/article_comments')
