<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "Home")}", users_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", user_path %></li>
      <% if @user == current_user %>
        <li class="first"><%= link_to "#{t("web-app-theme.show", :default => "Edit")}", edit_user_path(@user) %></li>
       <% end %>
    </ul>
  </div>          
  <div class="content">
    <p>

  	<div class="inner">
  		<span class="h9" class="title"><%= image_tag "#{request.ssl? ? "https://secure" : "http://www"}.gravatar.com/avatar/#{Digest::MD5.hexdigest @user.email}?s=100", :alt => "" %> <%= link_to @user.email, user_path(@user) %></span>

  <ul>
    <li>
      <strong>Mail: </strong><%= @user.email %>
    </li>
    <li>
      <strong>Name: </strong><%= @user.name %>
    </li>
  </ul>
	<div class="hr"></div>
    <%= view_type_select @user  %>
    <%=show_photos @user, @view_type %>
    <%= show_comments @user, @comments %>


</div>
</div>
<br>
         </p> 	
  </div>


<% content_for :sidebar, render(:partial => 'sidebar') -%>