%section.content
  .flash
    - flash.each do |type, message|
      %div{:class => "message #{type}"}
        %p= message
  / Article photos thumb
  %article
    %header.title
      %h2
        = link_to @user.full_name, user_path(@user)
      %br/
      %br/
    .article_content
      - unless @user.attaches.count.zero?
        %article
          .article_content
            #preview
            = show_comments @user, @comments
      .photos_thumbs_container.clearfix#thumbnails
        = render :partial => "user", :object => @user
        


