%section.content
  .flash
    - flash.each do |type, message|
      %div{:class => "message #{type}"}
        %p= message
  / Article photos thumb
  %article
    %header.title
      %h2
        = link_to "#{@user.name ? @user.name : @user.email}", user_path(@user)
      %br/
      %br/
    .article_content
      %article
        .article_content
          #preview
          = show_comments @user, @comments
      .photos_thumbs_container.clearfix#thumbnails
        - for photo in @user.attaches
          %span.photo_thumb
            /= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:original)
            =image_tag photo.photo.url(:thumb), {:alt => photo.photo.url, :id => photo.id}
            %span.comment-count 183
            %span.like-count 274
            %span.user-name
              = link_to (@user.name ? @user.name : @user.email), user_path(@user)

