- unless current_user && current_user.id == @user.id
  = render(:partial => 'layouts/logo_photos')
.wrapper
  %section.content
    .flash
      - flash.each do |type, message|
        %div{:class => "message #{type}"}
          %p= message
    / Article photos thumb
    %article
      %header.title
        %h2
          %span
            = image_tag(@user.avatar.url(:thumb))
            Photos by
            = @user.full_name
        %br/
        %br/
      .article_content
        - unless @user.attaches.count.zero?
          #preview
          = show_comments @user, @comments
  %section.sidebar
    %article.article_block_tags
      %br
      .article_content
        - if current_user
          %span.avatar
            = image_tag(current_user.avatar.url(:thumb))
          %strong
            = current_user.full_name
          ,
          = current_user.attaches.count
          Photos
          %br
          %br
          %a{:class => "large blue awesome", :href =>  edit_user_path(current_user)}
            Upload photo
          %a{:class => "large green awesome", :href => user_path(current_user)}
            My page
          %a{:class => "large yellow awesome", :href => destroy_session_path(current_user)}
            Log Out
        -else
          %a{:class => "large medium_w green awesome", :href => new_user_session_path}
            Sign in
          %a{:class => "large medium_w yellow awesome", :href => new_user_registration_path}
            Sign Up
          %br
          %br
          %a{:class => "large medium_w orange awesome", :href => new_user_session_path}
            Upload photo
          %a{:class => "large medium_w blue awesome", :href => guide_path}
            Take a tour
        %br
        %br
    - if current_user && current_user.id == @user.id
      %article.article_users_photos
        %header.title
          %h2
            %span
              My Photos
        .article_content
          %br
          %br
          %br
          = render :partial => "form_photos"
          %br/


