#regFormMainBlock.modalBlock
  .modalOverlay
  .modalWindow.ui-draggable{:style => "z-index: 1; left: 921px; top: 337.8000030517578px; "}
    .modalMessage
      .modalMessageHead
        Sign in
        %a{:href => root_path}
          #modalCloseCross.modalClose
    #orRegister
      %p
        %span Sign in
        or
        %span= link_to "Create", new_user_registration_path
        an account
      = devise_error_messages!
    #horizontalLine
    #regForm
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        #inputInfo
          %label Email:
          %span#er_email.errors
          = f.email_field :email
          %label#lb_password Password:
          %span#er_password.errors
          = f.password_field :password
        %button#regUser.regFormButtons.btnGreen{:type => "submit"} Sign In
