#regFormMainBlock.modalBlock
  .modalOverlay
  .modalWindow.ui-draggable
    .modalMessage
      .modalMessageHead
        Sign in
        %a{:href => root_path}
          #modalCloseCross.modalClose
    #orRegister
      %p
        %span Sign in
        or
        %span= link_to "Create", new_user_registration_path
        an account
    #horizontalLine
    = devise_error_messages!
    #regForm
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        #inputInfo
          %label Email:
          %span#er_email.errors
          %br
          = f.email_field :email, :size => 22
          %label#lb_password Password:
          %span#er_password.errors
          %br
          = f.password_field :password, :size => 22
        %button.large.large_w.awesome.green{:type => "submit"} Sign In
