/ Logo intro
%section.logo_intro
  %ul.left.tick
    = link_to (current_user ? edit_user_path(current_user) : new_user_session_path) do
      #button_upload_photo.btnOrange
        Upload photo
    %li Crop, resize, and rotate in real-time
    %li
      %strong Free!
      No registration required.
  .right
    %ul.right.tick
      - if current_user
        %span.avatar
          = image_tag(current_user.avatar.url(:small))
        %li
          = link_to "Edit profile", edit_user_path(current_user)
          (
          = current_user.attaches.count
          photos)
        %li
          = link_to "Log out", destroy_session_path(current_user)
      -else
        %a{:href => new_user_session_path}
          #button_sign_in.btnGreen
            Sign in
        %li Fix your photos in just one click
        %li
          %strong Free!
          No registration required.
  .logo_title
    %img{:src => "/images/logo_intro.png"}/