!!!
%html
  %head
    %title ImHo: Images Hosting
    %meta{:charset => "UTF-8"}/
    / Styles
    = stylesheet_link_tag "form_style", "common"
    / JavaScripts
    = get_js_and_styles 'jquery'
    = javascript_include_tag 'application'
  %body
    / Header
    %section.header
      %form#search-form{:action => "http://www.google.com/search", :method => "GET"}
        %input#search.query{:name => "q", :type => "text", :value => ""}/
      %nav#navigation
        %ul.main
          %li.selected
            = link_to "Home", root_path
          - if current_user
            %li
              = link_to "My page", user_path(current_user)
            %li
              = link_to "Upload Photo", edit_user_path(current_user)
            %li
              = link_to "Log out", destroy_session_path(current_user)
          - else
            %li
              = link_to "Sign in", new_user_session_path
            %li
              = link_to "Sign up", new_user_registration_path
      .logo_title Images Hosting
    / Content
    .flash
      - flash.each do |type, message|
        %div{:class => "message #{type}"}
          %p= message
    = yield
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26351821-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

